.App {
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: lightgrey;
    min-height: 100vh;
}

/*Design for Side Bar*/
.Sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
    flex-direction: row;
    width: 250px;
    height: 550px;
    padding: 50px 5px 0px 5px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.nav-menu {
    padding: 50px 0px 5px 0px;
}

.nav-text span {
    color: black;
    margin: 0 0 0 8px;
}
a {
    text-decoration: none;
}
.nav-text {
    padding: 1rem;
    display: flex;
    align-content: flex-start;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.2s;
}
    .nav-text:hover{
        background-color: black;
       
    }
    .nav-text:hover span {
        color: whitesmoke;
    }


.nav-menu-items{
    padding: 10px;
}
/*Right side Container*/

.container {
    width: 100%;
}

/* Black Header with Link*/
.header {
    height: 30px;
    background-color: #282c34;
    text-align: center;
    width: 100%;
}

.header__link{
    padding: 5px;
    
}
    .header__link a {
        color: forestgreen;
    }

.white__page{
    margin: 20px 25px 20px 30px;
    height: fit-content;
    width:95%;
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
}

/*Page Upper body with search bar and name*/
.name__search__body {
    display: flex;
    
}
    .name{
        width:60%;
        margin: 0 0 0 1rem;
    }
        
    .search {
        width: 40%;
        height: 30px;
        margin: 1rem;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        background-color: white;
        outline: auto;
        outline-color: lightgray;
        display: flex;
        flex-direction: row;
        color: gray;
    }

        .search input {
            width: 80%;
            border: none;
            font-size: 1rem;
            font-family: var(--font-raleway);
            font-weight: 500;
            outline: none;
            background-color: white;
        }

        .search span {
            width: 10%;
            height:1rem;
            cursor: pointer;
        }



/*Home Page All data bodies */
.all__data__items {
    display: flex;
    flex-direction: row;
    
}
/*Search and Name Body on Home and other pages*/
    .name__search__body {
        height: 20%;
    }

    .second__body {
        height: 35%;
        width:95%;
        display:flex;
        flex-direction: row;
        margin: 5px 10px 10px 15px;
    }

    .third__body {
        height:35%;
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: 5px 10px 10px 15px;

    }

.rooms__container {
    width: 25%;
    text-align: center;
}

.data__items {
    width: 80%;
}

/*Black Card for Offices on left*/
.card {
    background-color: black;
    border-radius: 4px;
    padding: 5px 0 5px 20px;
    color: whitesmoke;
    margin: 20px 20px 10px 20px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    .black__card {
        height: 10rem;
        width: 90%;
        font-weight:200;
        color:darkseagreen;
    }

.name p{
    font-size: small;
    color: grey;
}

/*Sign IN Page*/
.signin__page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 130vh;
}
    .signin__card{
        height: 70%;
        width: 30%;
        background-color: white;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        -webkit-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.31); 
        box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.31);
    }

        .signin_logo {
            height: 20%;
            padding: 2rem 0 0 5rem;
        }
        .signin_content{
            padding: 0 0 2rem 4rem;
            height: 40%
        }
            .signin__field {
                height: 30px;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                background-color: white;
                outline: auto;
                outline-color: lightgray;
                display: flex;
                flex-direction: row;
                color: gray;
                width: 78%;
            }

                .signin__field input {
                    width: 80%;
                    border: none;
                    font-size: 1rem;
                    font-family: var(--font-raleway);
                    font-weight: 500;
                    outline: none;
                    background-color: white;
                }
        .signin_button {
            height: 10%;
            padding: 1rem 0 0 10rem;
        }
                .myButton {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    line-height: 16px;
                    padding: 7px;
                    border-radius: 18px;
                    font-weight: normal;
                    background-color: steelblue;

                    box-shadow: rgb(0, 0, 0) 0 0px 8px 0.2px;
                    border: 0.5px rgb(28, 110, 164);
                    display: inline-block;
                }

                    .myButton:hover {
                        background: #1C6EA4;
                    }

                    .myButton:active {
                        background: #144E75;
                    }
/*Data Tables of Rooms, Bookings and Users*/

.container__all__info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.datatable {
    height: 400px; 
    width: 97%;
    margin: 1rem;
}

.cellWithStatus{
    padding: 5px;
    border-radius: 5px;
}

.booked{
    color: darkred;
}
.available {
    color: green;
}

/*Third body of the home page 3 black Cards with different funtionalities*/
.card__manage {
    background: linear-gradient(to bottom, black 85%, dimgrey 15%);
    border-radius: 4px;
    padding: 5px 10px 3px 10px;
    color: whitesmoke;
    margin: 7px 7px 7px 7px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 95%;
    -webkit-box-shadow: 5px 5px 5px -2px #000000;
    box-shadow: 5px 5px 5px -2px #000000;
}

    .black__card__manage {
        height: 10rem;
        font-weight: 200;
        color: lightgray;
        position: relative;

    }
        .arrow{
            position: absolute;
            bottom: 0;
            color: white;
            right: 0;
            cursor: pointer;
            padding-top: 5px;
        }
        .arrow:hover{
            font-size:130%;
        }


/*Statistic Body with white cards and Offices*/

.second_body_left{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.second_body_right {
    display: flex;
    flex-direction: row;
    width: 50%;
    overflow-x: auto;
    scroll-behavior:smooth;
    white-space: nowrap;
}
    .office_statistics{
        height:90%;
        width:90%;
        background-color: black;
        border-radius: 1rem;
        margin-left: 0.5rem;
        color: whitesmoke;
        display: flex;
        flex-direction: row;
    }
    .small_white_card {
        height: 80%;
        width: 27%;
        border: solid;
        border-color: lightgray;
        margin-left: 0.5rem;
        border-radius: 1rem;
        padding:1px;
        text-align: center;
    }
        .small_white_card p {
            font-size: small;
            color: grey;
            margin-left:2px;
        }

.small_white_card_L {
        height: 80%;
        width: 37%;
        border: solid;
        border-color: lightgray;
        margin-left: 0.5rem;
        border-radius: 1rem;
        padding:1px;
        text-align: center;
    }
        .small_white_card_L p {
            font-size: small;
            color: grey;
            margin-left:2px;
        }

h3 {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add_icon{
    color:aquamarine;
    font-size: 30px;
    cursor: pointer;
    
}
    .add_icon:hover{
        font-size: 200%;
    }

.progress_bar{
    float: right;
    height: 37px;
    width: 37px;
    margin: 0.5rem 0 0 0.5rem;
}

.statistic_card_office{
    margin: 0.5rem 0 0 0.5rem;
}




/* User Card*/
.movie_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.movie {
    width: 210px;
    height: 230px;
    margin: 1rem;
    padding: 2rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    color: black;
    opacity: 0.7;
    background-color: whitesmoke;
    justify-content: space-between;
    transition: all 0s cubic-bezier(0.175, 0.885, 0, 1);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

    .movie:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
        transform: scale(1.05, 1.05);
    }

.cellImg{
    height:35px;
    width:35px;
    border-radius: 50%;
    float: right;
}

hr{
    margin:0;
}